language: python
sudo: false
python:
  - "3.5"
  - "3.6"
  - "3.7"
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran
before_install:
  - pip install -U pip setuptools wheel
install:
  - travis_wait travis_retry pip install -r requirements.txt
  - travis_wait travis_retry pip install -r requirements-dev.txt
  - travis_retry python setup.py develop
script: py.test && pylint dstoolbox
deploy:
  - provider: script
    script: ./pypi_upload.sh
    skip_cleanup: true
    on:
      repo: ottogroup/dstoolbox
      tags: true
cache:
  - apt
  - directories:
    - $HOME/.cache/pip
